* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    margin: 0;
height: 100vh; /* Ensures the gradient covers the full height */
background-image: linear-gradient(to bottom, #11010c, #260c1f, #3c0e31, #530d43, #6c0757);
background-repeat: no-repeat;
background-attachment: fixed; /* Ensures the background stays fixed during scroll */
background-size: cover;
}

/* .nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #11010c, #260c1f, #3c0e31, #530d43, #6c0757);
    z-index: -1; /* Ensure it stays in the background */
  .nav{
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 100px;
  
  }
    .logo img{
        height: 8vh;
        filter: invert();
        position: relative;
        top: 20px;
        left: 30px;
    }
    #brand{
        position: relative;
        top:30px;
        right: 70px;
    }
    h1{
     color: white;
     font-size: 4vh;
     font-weight: 500;
     font-family: system-ui, -apple-system;
    }

  .s{
    font-weight: normal;
    font-size: 30px;
    
    font-family: system-ui, -apple-system;
    position: relative;
    top: 40px;

  }

  .s a{
    text-decoration: none;
    color: white;
  }

  search-wrap{
    position: relative;
    width:10%;
  }
  #searchIcon {
    font-size: 2.5em;
    position: absolute;
    top: 40px;
    
    filter: invert();
  }
  #searchIcon.hide{
    display:none;
  }
  #search {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 251, 251);
    border: solid 3px rgb(75, 0, 44);
    border-radius: 20px;
    width: 10%;
    font-size: 2em;
    position: absolute;
    top: 40px;
    /* display: inline-block;
    margin-top: 0.25em;
    margin-left: 12.5%; */
    /* outline: none; */
    cursor: text;
    visibility: hidden;
    transition: 0s;  
   
  }
  #search.visible{
    width:10%;
    visibility: visible;
    
  }
  #clear {  
    /* width: 10px;   */
    /* display: inline-block; */
    position: absolute;
    right: 11%;
    top: 50px;
    opacity:0;
    
    
  }
  #clear.visible{
    opacity:1;
  }
  #clear:hover {
    cursor: pointer;
  }

  #shop img{
    height: 5vh;
    position: relative;
    top: 40px;
    right: 40px;
    filter: invert();

  }

  #button button{
    height: 50px;
    width: 100px;
    background-color: rgb(221, 58, 221);
    border-radius: 50px;
    position: relative;
    right: 70px;
    top: 40px;
    border: none;

  }

  .content{
    position: relative;
    left: 9.4%;
    top: 60px;
    display: flex;
   
   width: 80%;
    height: 600px;
    
    background-color: #3e032fc8;
    border-radius: 30px;
  }

  #iphone img{
    position: relative;
   bottom: 3px;
    left: 50px;
    height: 50vh;
    margin: 0%;
    
  }
  #iphone p{
    font-size: 50px;
    font-family: system-ui, -apple-system;
    color: white;
    font-weight: lighter;
    width: 140%;
    position: relative;
    top: 80px;
    left: 20px;
    
  }
  #i{
      position: relative;
      left: 90px;
  }
#i button{
    display: flex;
    border-radius: 30px;
    position: relative;
    right: 180px;
    background-color: #11010c;
    color: white;
    border: none;
    height: 40px;
    width: 200px;
     position: relative;
     left: 2px;
    top: 30px; 
   
}
  #i img{
    height: 25px;
position: relative;
left: 20px;
top: 5px;
    filter: invert();
    
  }

  #i p{
    position: relative;
    left: 30px;
    top: 8px;
    font-size: 20px;
  }

  #i h2{
    font-size: 70px;
    font-family: system-ui, -apple-system;
    font-weight: 800;
    width: 70vh;
     position: relative;
     top: 30px;
    /* background-image: linear-gradient(to bottom left, #DAB6D2, #7F1A68, #0E0E10); */
    background-image: linear-gradient(to bottom left, #0E0E10 30%, #7F1A68 46%, #DAB6D2 100% );
    background-clip: text;
   -webkit-text-fill-color: transparent; 
  }

  #achip{
    background-color: #d117a6b7;
    border-radius: 40px;
    display: flex;
    position: relative;
    right: 54vh;
    top: 66%;
    height: 180px;
    width: 80vh;
  }
 
  #achip img{
    height: 16vh;
    position: relative;
    left: 2px;
    top: 28px;
  }

  #achip p{
   
     width: 350px;
    font-size: 14px;
    position: relative;
     left: 2px;
    top: 40px;
  
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }


  @media only screen and (max-width: 1367px) {
    h2{
       font-size: 2%;
       position: relative;
       right: 200px;
    }
    #iphone img{
      height: 20vh;
    }
  }

  